.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px ;
    list-style: none;
    /* box-shadow: 0 0px 14px rgba(0, 0, 0, 0.1); */
    background-color: rgb(255, 255, 255);
}

.navText {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #8b8b8b;
}

.navText:hover {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.navText2 {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin: 0px;
}

.dot{
    font-weight: 900;
    color: #0F1F7D;
    margin: 0px;
}

.navText2:hover {
    transform: scale(1.09); /* Scale up slightly on hover */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.space{
    flex-grow: 1;
} 
  
.register-button {
    background-color: #0F1F7D;
    color: white;
    border: 2px solid #0F1F7D;
    border-radius: 40px;
    padding:5px 14px 5px 14px; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  }
  
.register-button:hover {
    background-color: white;
    border: 2px solid #0F1F7D;
    color: #0F1F7D;;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.register-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signin-button {
    background-color: white;
    color: #8b8b8b;
    border: 2px solid #e0e0e0;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;
    padding:5px 14px 5px 14px; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 0px 15px rgba(94, 94, 94, 0.1);
}
  
.signin-button:hover {
    background-color: white;
    border: 2px solid #0F1F7D;
    color: #0F1F7D;;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.signin-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px ;
        list-style: none;
        padding: 0px 0px 0px 0px;
        /* box-shadow: 0 0px 14px rgba(0, 0, 0, 0.1); */
        background-color: rgb(255, 255, 255);
    }
    
    .navText {
        font-size: 0.95rem;
        font-weight: 500;
        margin-left: 30px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        color: #8b8b8b;
    }
}

@media (max-width: 900px) {

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px ;
        list-style: none;
        margin-top: 25px;
        padding: 13px 13px 13px 13px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    .navText {
        font-size: 0.95rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        color: #8b8b8b;
        margin: 0px;
    }
}

@media (max-width: 530px) {

    .register-button {
        background-color: #0F1F7D;
        color: white;
        border: 2px solid #0F1F7D;
        border-radius: 40px;
        padding:5px 14px 5px 14px; 
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
        font-weight: 500;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    }
    
    .signin-button {
        background-color: white;
        color: #8b8b8b;
        border: 2px solid #e0e0e0;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 40px;
        padding:5px 14px 5px 14px; 
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
        font-weight: 500;
        box-shadow: 0 0px 15px rgba(94, 94, 94, 0.1);
    }
}


@media (max-width: 500px) {

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px ;
        list-style: none;
        margin-top: 25px;
        padding: 12px 12px 12px 12px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    .navText {
        font-size: 0.85rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        color: #8b8b8b;
        margin: 0px;
    }
}

@media (max-width: 370px) {

    .register-button {
        background-color: #0F1F7D;
        color: white;
        border: 2px solid #0F1F7D;
        border-radius: 40px;
        padding:5px 10px 5px 10px; 
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    }
    
    .signin-button {
        background-color: white;
        color: #8b8b8b;
        border: 2px solid #e0e0e0;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 40px;
        padding:5px 10px 5px 10px; 
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        box-shadow: 0 0px 15px rgba(94, 94, 94, 0.1);
    }
}

@media (max-width: 350px) {

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px ;
        list-style: none;
        margin-top: 25px;
        padding: 11px 11px 11px 11px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    .navText {
        font-size: 0.75rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        color: #8b8b8b;
        margin: 0px;
    }
}

@media (max-width: 350px) {

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px ;
        list-style: none;
        margin-top: 25px;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    .navText {
        font-size: 0.7rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        color: #8b8b8b;
        margin: 0px;
    }
}